/*font-family: 'Montserrat', sans-serif; */
a {
  text-decoration: none;
  color: #111;
}
ul {
  /*list-style: none;*/
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  min-width: auto;
  height: auto;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #111;
}
.container {
  width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 4px solid aqua;
}
/*======header========*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: burlywood;
}
.header-nav {
  display: flex;
  /*width: 100%;*/
  flex-grow: 1;
  justify-content: space-between;
}
header .container {
  display: flex;
  gap: 90px;
}
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}
.simply {
  font-style: italic;
}
.header-menu {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu-list {
}
.header-menu-link {
}
.header-soc {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-soc-list {
}
.header-soc-link {
}

/*----section1 Hero-----*/
.hero {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
  padding-top: 381px;
  padding-bottom: 40px;
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-all-buttons {
  display: flex;
  align-items: center;
}

.hero-button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #fd9222;
  cursor: pointer;
  border: none;
  padding: 14px 40px;
  margin-right: 14px;
}
.hero-made {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
}
.hero-scroll {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  margin-left: auto;
}
/*----------section2 Benefits--------*/
.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefits-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.benefits-item {
}
.benefits-item-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.benefits-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  max-width: 308px;
}
